h2 {
  font-size: 53px;
}

#p {
  font-size: 48px;
}

#mediumP {
  font-size: 38px;
}

#smallerP {
  font-size: 27px;
}

#varyP {
  font-size: 2vw;
}

#underline {
  text-decoration: underline;
}

#sTHomeText {
  font-size: 26px;
}

#formText {
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 22px;
}

.messageParam {
  width: 50%;
  padding: 10 10;
  margin-bottom: 10px;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
}

#errMessage {
  background-color: red;
}

#neutralMessage {
  background-color: gray;
}

#posMessage {
  background-color: green;
}

.textErr {
  color: red;
}

select:invalid {
  color:gray;
}

select:valid {
  background: lightgreen;
}